@font-face {
    font-family: Maintype;
    src: url(./Hold.otf);
}


body {
  margin: 0;
  background: #680049;
  color: white;
  font-family: "Maintype";
  overflow-x: hidden;
}

header {
  text-align: center;
  padding: 40px 20px;
}

#title {
  font-size: 2.2rem;
  white-space: nowrap;
  border-right: 2px solid white;
  width: fit-content;
  margin: auto;
}

#poems-container {
  position: relative;
  height: 200vh;
  padding: 100px;
}

.poem {
  width: 320px;
  padding: 20px;
  background: rgba(255,255,255,0.07);
  border-radius: 16px;
  backdrop-filter: blur(4px);
  position: absolute;
  white-space: pre-wrap;
  line-height: 1.4;
  animation: float 10s ease-in-out infinite;
  border-right: 2px solid rgba(255,255,255,0.4); /* typewriter cursor */
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

#poem1 { top: 150px; left: 10%; }
#poem2 { top: 500px; left: 55%; animation-duration: 12s; }
#poem3 { top: 950px; left: 25%; animation-duration: 14s; }


#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 9000;
}


#modal-overlay.active {
  opacity: 1;
  pointer-events: auto;
}


#modal-box {
  background: rgba(255, 255, 255, 0.12);
  padding: 30px;
  border-radius: 14px;
  width: 330px;
  max-width: 80%;
  color: white;
  font-size: 1.1rem;
  line-height: 1.5rem;
  backdrop-filter: blur(6px);
  position: relative;
  animation: fadeIn 0.3s ease;
}


#modal-close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 1.4rem;
  cursor: pointer;
  opacity: 0.8;
}
#modal-close:hover {
  opacity: 1;
}
