@font-face {
    font-family: Yellowtail;
    src: url(../replicamenu/Yellowtail-Regular.ttf);
}

@font-face{
    font-family: PoiretOne;
    src: url(../replicamenu/PoiretOne-Regular.ttf)
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
}

.menurowcontainer {
    display:flex;
    justify-content: space-around;
    gap:20px;
}


.menurow1left {
  display: flex;
  flex-direction: column;    
  gap: 20px; 
  width: calc(50% - 10px);
  box-sizing: border-box;          
 
}

.menurow2right {
   display: flex;
  flex-direction: column;    
  gap: 20px; 
  width: calc(50% - 10px);
  box-sizing: border-box;

}


.menusection {     
  min-width: 0px; 
  border: 6px dotted #000000;
  border-radius: 30px;
  padding: 25px;
  border-radius: 6px;
  background-color: #fff;
  margin-bottom: 20px;
}


.menusection.fullwidth {
  flex: 1 1 100%;
}

.menusection h2 {
  color: #b00000;
  margin-bottom: 15px;
  font-size: 2.5em;
  font-family: Yellowtail;
}

.menuitem {
  margin-bottom: 15px;
}

.menuitem .name {
  font-weight: bold;
  font-size: 1.1em;
}

.menuitem .price {
  font-weight: bold;
  color: #333;
}

.menuitem .description {
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
  font-style: italic;
}

h1 {
    font-family: PoiretOne;
}

h2{
    font-family: Yellowtail;
    color: #b00000;
    font-size: 1.5em;
}

h1{
    font-family: Yellowtail;
    color: #000;
    font-size: 2.5em;
}